<!--The content below is only a placeholder and can be replaced.-->
<div class="container">	
  <div id="pokeballLoader" class="center-on-page">
    <div class="pokeball">
      <div class="pokeball__button"></div>
    </div>
  </div>

  <div id="selectDiv" class="row">
    <div class="col">
        <div class="btn-group btn-block">
            <button (click)="launchFight()">Fight</button>
        </div>
      </div>
  </div>	

  <div id="combatDiv" class="row" >
    <div class="card text-white bg-dark border-secondary mb-3" style="max-width: 100%; border-width:4px !important;">
      <!--
      <img id="enterCombatAnnimation" class="card-img img-fluid" src="./img/combat.gif" alt="Enter The Fight">
      -->
      
      <img id="arena" src="/assets/img/fightBackgroundLarge.png" class="card-img" alt="Fight Zonne">
      
      <div id="fighter" class="card-img-overlay" >

        <!-- pkm bas -> Pokemon B -->
        <!-- <app-ennemie [pokemon]="pokemonB"></app-ennemie>-->
        <app-pkmn [pokemon]="pokemonB" [heroOrEnnemie]="false"></app-pkmn>		
        
        <!-- pkm bas -> Pokemon A -->
        <app-pkmn [pokemon]="pokemonA" [heroOrEnnemie]="true"></app-pkmn>		
        
      </div>

      <!-- fight windows-->
      <app-fight-window [log]="fightLog"></app-fight-window>

    </div>
  </div>
</div>







