.attackedAnimation {
    animation: shake 0.50s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-5px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(10px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-15px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(15px, 0, 0);
    }
  }
  
  .pokemonKo {
    visibility: hidden;
    opacity: 0;
    animation: pokemonKoDestination 1s;
    transition: visibility 0s 1s, opacity 1s linear;
  }
  
  @keyframes pokemonKoDestination {
    
    33% {
      
      transform: translate3d(0, 25px, 0);
    }
    
    66% {
  
      transform: translate3d(0, 75px, 0);
    }
  
    100% {
  
      transform: translate3d(0, 175px, 0);
    }
  }